@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply bg-slate-100;
}
ul[aria-label="Pagination"] > li {
    @apply rounded-sm border px-3 py-1 text-neutral-600 shadow-sm;
}
li.disabled {
    @apply bg-neutral-200  shadow-none;
}
li.selected {
    @apply bg-orange-300 shadow-none;
}
.child.active {
    @apply font-semibold text-orange-500;
}
.parent.active {
    @apply bg-orange-500 font-semibold text-neutral-50;
}
.after-image {
    @apply backdrop-blur-md
   after:absolute 
   after:flex 
   after:items-center 
   after:justify-center
   after:bg-slate-200/40
   after:font-semibold
   after:text-slate-600

   hover:after:h-full 
   hover:after:w-full 
   hover:after:content-['Change'];
}

.card.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
/* navigation */

.brand-wrap .swiper .swiper-button-prev::after,
.brand-wrap .swiper .swiper-button-next::after {
    font-size: 24px;
}
.brand-wrap .swiper .swiper-button-prev {
    left: 0;
}
.brand-wrap .swiper .swiper-button-next {
    right: 0;
}
.brand-wrap .swiper .swiper-wrapper {
    justify-content: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.skeleton {
    background: #e1e1e1;
    border-radius: 4px;
    height: 50px;
    position: relative;
    overflow: hidden;
}

.skeleton::before {
    content: "";
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(
        to right,
        transparent 0%,
        #e8e8e8 50%,
        transparent 100%
    );
    animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
    from {
        left: -150px;
    }
    to {
        left: 100%;
    }
}

@keyframes loadingSpinner {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.5, 1.5);
    }
    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1, 1);
    }
}
.loadingSpinner div > div {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ff7316;
    animation: loadingSpinner 1s linear infinite;
}
.loadingSpinner div:nth-child(1) > div {
    left: 148px;
    top: 88px;
    animation-delay: -0.875s;
}
.loadingSpinner > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 160px 100px;
}
.loadingSpinner div:nth-child(2) > div {
    left: 130px;
    top: 130px;
    animation-delay: -0.75s;
}
.loadingSpinner > div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 142px 142px;
}
.loadingSpinner div:nth-child(3) > div {
    left: 88px;
    top: 148px;
    animation-delay: -0.625s;
}
.loadingSpinner > div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 100px 160px;
}
.loadingSpinner div:nth-child(4) > div {
    left: 46px;
    top: 130px;
    animation-delay: -0.5s;
}
.loadingSpinner > div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 58px 142px;
}
.loadingSpinner div:nth-child(5) > div {
    left: 28px;
    top: 88px;
    animation-delay: -0.375s;
}
.loadingSpinner > div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 40px 100px;
}
.loadingSpinner div:nth-child(6) > div {
    left: 46px;
    top: 46px;
    animation-delay: -0.25s;
}
.loadingSpinner > div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 58px 58px;
}
.loadingSpinner div:nth-child(7) > div {
    left: 88px;
    top: 28px;
    animation-delay: -0.125s;
}
.loadingSpinner > div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 100px 40px;
}
.loadingSpinner div:nth-child(8) > div {
    left: 130px;
    top: 46px;
    animation-delay: 0s;
}
.loadingSpinner > div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 142px 58px;
}
.loading {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}
.loadingSpinner {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.loadingSpinner div {
    box-sizing: content-box;
}
/* generated by https://loading.io/ */
